$default-font: "roboto-example", sans-serif;
$accent: orange;
$text: #333;

// Mixins
@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@mixin abs-c-c {
	position: absolute;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%)

}



// Customization Bootstrap vars from "app/libs/bootstrap/scss/_variables.scss"
$grid-gutter-width: 30px;
$grid-columns: 12;
$grid-breakpoints: (xs: 0, sm: 576px, md: 768px, lg: 992px, xl: 1200px);
$container-max-widths: (sm: 540px, md: 720px, lg: 960px, xl: 1140px);

$gutter: $grid-gutter-width;
